<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/kendo/2013.1.319/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2013.1.319/kendo.blueopal.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Common.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.1.319/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/RequestsGrid.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
